<form class="contact-form" id="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)">
    <div class="contact-form__text">
        <h6 class="contact-form__title"> {{ getTexts(currentLanguage, 'title') }} </h6>
        <p class="contact-form__description">{{ getTexts(currentLanguage, 'description') }}</p>
    </div>
    <div class="contact-form__inputs">
        <div class="contact-form__input-container">
            <input class="contact-form__input" type="text" [placeholder]="getTexts(currentLanguage, 'namePlaceholder')" formControlName="name" appOnlyLetters [ngClass]="{'error-border': name.touched && name.hasError('required')}">
            <ng-container *ngIf="name.touched && name.hasError('required')">
                <span class="contact-form__error-msg" >{{ getTexts(currentLanguage, 'errorName') }}</span>
                <span class="contact-form__error-icon">
                    <img src="error-icon.png" alt="">
                </span>
            </ng-container>
        </div>
        <div class="contact-form__input-container">
            <input 
                class="contact-form__input"
                type="email" 
                [placeholder]="getTexts(currentLanguage, 'emailPlaceholder')" 
                [ngClass]="
                    {'error-border': 
                        (email.touched && email.hasError('required')) || 
                        (email.touched && !email.hasError('required') && email.hasError('invalidEmailPattern'))}"
                formControlName="email" 
                appEmailValidator
            >
            <ng-container *ngIf="email.touched && email.hasError('required')">
                <span class="contact-form__error-msg">{{ getTexts(currentLanguage, 'errorEmail') }}</span>
                <span class="contact-form__error-icon">
                    <img src="error-icon.png" alt="">
                </span>
            </ng-container>
            <ng-container *ngIf="email.touched && !email.hasError('required') && email.hasError('invalidEmailPattern')">
                <span class="contact-form__error-msg">{{ getTexts(currentLanguage, 'invalidEmail') }}</span>
                <span class="contact-form__error-icon">
                    <img src="error-icon.png" alt="">
                </span>
            </ng-container>
            
        </div>
        <div class="contact-form__input-container">
            <textarea rows="4" class="contact-form__input" [placeholder]="getTexts(currentLanguage, 'messagePlaceholder')" [ngClass]="{'error-border': message.touched && message.hasError('required')}" formControlName="message"></textarea>
            <ng-container *ngIf="message.touched && message.hasError('required')">
                <span class="contact-form__error-msg">{{ getTexts(currentLanguage, 'errorMessage') }}</span>
                <span class="contact-form__error-icon">
                    <img src="error-icon.png" alt="">
                </span>
            </ng-container>
        </div>
        <button type="submit" class="contact-form__submit-btn">{{ getTexts(currentLanguage, 'button') }}</button>
    </div>
</form>
