@let projects = projectsList();

<div class="spinner" *ngIf="!(projects)?.length">
    <!-- <ngx-spinner
        bdColor="transparent"
        size="medium"
        color="#fff"
        type="ball-pulse"
        [fullScreen]="false"
    >
    </ngx-spinner>
    <p class="spinner-text"> 
        {{ getTexts(currentLanguage) }}
    </p> -->

    <div class="spinner-alt-text">
        <p class="spinner-alt-text__content">
            {{ getMaintenanceTexts(currentLanguage) }}
        </p>
        <a 
            class="spinner-alt-text__link" 
            href="https://www.frontendmentor.io/profile/danielmrz-dev/solutions" 
            target="_blank">
            {{ getLinkText(currentLanguage) }}
        </a>
    </div>
</div>