<div class="dialog-container">
    <mat-dialog-content>

        <ng-container *ngIf="status === 'sending'">
            <p> {{ getTexts(currentLanguage, 'sending') }} </p>
            <mat-spinner color="primary" diameter="50" strokeWidth="4"></mat-spinner>
        </ng-container>

        <ng-container *ngIf="status === 'success'">
            <div class="message-success">
                <img src="circle-check-solid.svg" alt="" class="icon-check">
                <span> {{ getTexts(currentLanguage, 'hi') }} <span> {{ data.name | uppercase }}!</span> </span>

                <p> {{ getTexts(currentLanguage, 'messageSent') }} <br> {{ getTexts(currentLanguage, 'contact') }} </p>

            </div>
        </ng-container>

        <ng-container *ngIf="status === 'error'">
            <p> {{ getTexts(currentLanguage, 'error') }} </p>
        </ng-container>
        
    </mat-dialog-content>
    
        <app-button-with-border-bottom 
            *ngIf="status !== 'sending'" 
            mat-dialog-close 
            [buttonText]="getTexts(currentLanguage, 'close')"
        ></app-button-with-border-bottom>
</div>