@use "../../../scss/variables" as var;

$base-right: 45%;
$increment: calc((100vw - 1100px) / 200);


.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var.$White;
    padding: 1rem;
    &__image-container {
        position: relative;
        top: -128px;
    }
    &__profile-picture-container {
        max-width: 240px;
        min-height: 383px;
        background-image: linear-gradient(to bottom, var.$Picture-Bg-Dark-Grey-Opac, var.$Picture-Bg-Dark-Grey);
        margin-bottom: -90px;
        position: relative;
        z-index: -1;
        display: flex;
        align-items: flex-end;
    }
    &__profile-picture {
        max-width: 100%;
        position: relative;
        z-index: 0;
    }
    &__text {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    &__title {
        font-size: 2.5rem;
        letter-spacing: -1.14px;
        line-height: 40px;
        font-weight: 600;
    }
    &__name {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 4px;
            width: 100%;
            background-color: var.$Green;
        }
    }
    &__description {
        color: var.$Grey;
    }
    .circle {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .introduction {
        text-align: start;
        align-items: start;
        justify-content: flex-start;
        padding: 3.8rem 2rem 2rem 2rem;
        overflow: hidden;
        &__image-container {
            position: static;
            top: -128px;
        }
        &__profile-picture-container {
            max-width: 420px;
            min-height: 512px;
            margin-bottom: 0px;
            position: absolute;
            right: 0;
            top: 0;
        }
        &__text {
            gap: 3.75rem;
            max-width: 444px;
            .btn {
                transform: translateY(-10px);
            }
        }
        &__title {
            font-size: 4rem;
            letter-spacing: -2.05px;
            line-height: 4.5rem;
            .nice-to {
                display: block;
            }
        }
        &__description {
            color: var.$Grey;
            width: 30ch;
            font-size: 1.125rem;
            line-height: 1.75rem;
        }
        .circle {
            display: block;
            position: absolute;
            right: 0;
            top: 381px;
        }
    }
}

@media screen and (min-width: 992px) {
    .introduction {
        max-width: 1062px;
        margin: auto;
        padding: 6rem 3rem 2rem;
        &__image-container {
            position: static;
            top: -128px;
        }
        &__profile-picture-container {
            min-width: 500px;
            min-height: 600px;
            left: 49.1%;
        }
        &__profile-picture {
            min-width: 100%;
        }
        &__text {
            gap: 2.688rem;
            max-width: 100%;
            .btn {
                transform: translateY(0px);
            }
        }
        &__title {
            font-size: 4.5rem;
            line-height: 5.5rem;
            max-width: 14ch;
            .nice-to {
                display: inline;
            }
        }
        &__description {
            width: 40ch;
        }
        .circle {
            top: 472px;
            left: 50%;
            transform: translateX(-75px);
        }
    }
}