<section class="introduction">
    <div class="introduction__image-container">
        <div class="introduction__profile-picture-container">
            <img src="profile-picture.png" alt="" class="introduction__profile-picture">
        </div>
        <picture>
            <source media="(min-width: 992px)" srcset="pattern-circle.svg" type="image/webp">
            <img src="pattern-half-circle.png" alt="" class="circle">
        </picture>
    </div>
    <div class="introduction__text">
        <h1 class="introduction__title">
            <span class="nice-to">Nice to</span> meet you! I'm <span class="introduction__name">Daniel Mariz</span>.
        </h1>
        <p class="introduction__description">
            Based in the Brazil, I’m a front-end developer passionate about building accessible web apps that users love.
        </p>
        <app-button-with-border-bottom class="btn" buttonText="Contact me" targetComponent="contact-form"></app-button-with-border-bottom>
    </div>
</section>
