<section class="introduction">
    <div class="introduction__image-container">
        <div class="introduction__profile-picture-container">
            <img src="profile-picture.png" alt="" class="introduction__profile-picture">
        </div>
        <picture>
            <source media="(min-width: 992px)" srcset="pattern-circle.svg" type="image/webp">
            <img src="pattern-half-circle.png" alt="" class="circle">
        </picture>
    </div>
    <div class="introduction__text">
        <h1 class="introduction__title" [innerHTML]="getTexts(currentLanguage, 'introduction')"></h1>
        <p class="introduction__description" [innerHTML]="getTexts(currentLanguage, 'description')"></p>
        <app-button-with-border-bottom
            class="btn" 
            [buttonText]="getTexts(currentLanguage, 'button')" 
            targetComponent="contact-form">
        </app-button-with-border-bottom>
    </div>
</section>
